<section class="name cf mv4">
  <div class="fl w-70">
    <h1 class="f1 ma0"><%= @startup.name %></h1>
    <h3 class="f2 fw1 ma0"><%= @startup.short_desc %></h3>
  </div>
  <div class="fl w-30">
    <a class="f6 grow no-underline br-pill ph3 pv2 mb2 dib white custom-blue" href="#">Send a message</a>
  </div>
</section>
<section class="about cf">
  <div class="fl w-60">
    <iframe class="br4 shadow-1" width="100%" height="340" src="<%= @startup.video_url %>?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  </div>
  <div class="fl w-40 mv3 br4 br--right bg-white ph4 br4 shadow-1 about--description">
    <h4 class="f3 mb0">What We Do...</h4>
    <p class="f6 lh-copy measure-narrow"><%= @startup.long_desc %></p>
    <% link_to "Visit Website", @startup.website_url, class: "link link-external db pv3" %>
    <%= link_to @startup.website_url, class: "f6 link link-external db" do %>
      <%= render partial: 'partials/assets/icons/external-link' %>
      <span class="fw6 pl1">Visit Website</span>
    <% end %>
  </div>
</section>
<section class="gallery cf tc br4 bg-white pa4 mv4 shadow-1">
  <%= render @galleries %>
</section>
<section class="notes cf tc br4 bg-white pa4 mv4 shadow-1">
  <div class="note-founded fl w-25 ph3">
    <h4 class="note-header ttu br3 custom-green pa3 ma3">Founded</h4>
    <%= @startup.note_founded %>
  </div>
  <div class="note-team-size fl w-25 ph3">
    <h4 class="note-header ttu br3 custom-orange pa3 ma3">Team size</h4>
    <%= @startup.note_team_size %>
  </div>
  <div class="note-stage fl w-25 ph3">
    <h4 class="note-header ttu br3 custom-blue pa3 ma3">Stage</h4>
    <%= @startup.note_stage %>
  </div>
  <div class="note-traction fl w-25 ph3">
    <h4 class="note-header ttu br3 custom-violet pa3 ma3">Traction</h4>
    <%= @startup.note_traction %>
  </div>
</section>